In [1]:
str =  " America Nice"
print(str[-9:-1: ])

str = "Gajanan"
print(str[-1:6:-1])

rica Nic

In [2]:
# Data types in python
# 1 int
age = 32
print(type(age))

# 2 float
weight = 72.50
print(type(weight))

#3  string
name = 'rushi'
print(type(name))

# 4 boolean
is_boy = True 
print(type(is_boy))

#5 list

list1 = [100,200,300]
print(type(list1))


# 6 dictionary 
dict1 = {'name' : 'rushi', 'age': 19, }
print(type(dict1))

# 7 tuple
tup = (10,20,30)
print(type(tup))

# 8 Set
set1 = {1,2,3,4,5,6,7,8}
print(type(set1))
#9 None
house_no = None
print(type(house_no))

# 10 Complex 
com = 1+2j
print(type(com))

#11 range

num = range(1,5)
print(type(num))

# 12 bytes & bytearray
byte = bytes([65,66,97])
print(type(byte))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'NoneType'>
<class 'complex'>
<class 'range'>
<class 'bytes'>

In [3]:
# typecasting 
num1 = int(input("Enter first number"))
num2 = int(input("Enter Second number"))
print(num1+num2)

4282

In [4]:
num1 = 20
num2 = 20.5

print(num1+num2)
print(num1*num2)

40.5
410.0

In [5]:
a = 11
f = float(a)
print(f)
b = hex(a)
print(b)
c = oct(a)
print(c)
d = bin(a)
print(d)
char = 'A'
e = ord(char)
print(e)
e = 65
char = chr(e)
print(e)

11.0
0xb
0o13
0b1011
65
65

In [17]:
# escape character
print('I\' ll call you letter')

print("prepare well for \" GATE-2024\" exam")

a = "Hello, \t\t\t Rushikesh!"
print(a)

x = "no__benefits__of__study\rHuge_benefits"
print(x)

I' ll call you letter
prepare well for " GATE-2024" exam
Hello, 			 Rushikesh!
Huge_benefits_of__study

In [ ]:
# logical opreator

age = 15
income =  20000
if age >= 18 or income >= 15000:
    print("eligible for the loan")
else:
    print("not eligible")
    
    
age = 15
income =  20000
if age >= 18 and income >= 15000:
    print("eligible for the loan")
else:
    print("not eligible")
        
        
a = True 
b = False 
if not a:
    print("my name is a") 
if not b:
    print("my name is b")      
    # ok

eligible for the loan
not eligible
my name is b

In [7]:
# Bitwise AND

a = 0b1010
b = 0b1100
c = a & b
print(bin(c))

# Bitwise OR
a = 0b1010
b = 0b1100
c = a | b 
print(bin(c))

# Bitwise NOT

a = 0b1010
c = ~a
print(bin(c))

#Bitwise XOR
a = 0b1010
b = 0b1100
c = a^ b
print(bin(c))

# Bitwise Left Shift
a = 0b1010
c = a<<2
print(bin(c))

# Bitwise Right Shift 
a = 0b1010
c = a >>1 
print(bin(c))

0b1000
0b1110
-0b1011
0b110
0b101000
0b101

In [15]:
# identity opreator
x = 10
y= 10 
print(x is y )
z = x 
print(z is x)
print(id(x))
print(id(y))
print(id(z))

True
True
140704506082504
140704506082504
140704506082504

In [18]:
x = 10 
y = 20
print(x is  not y )
print(id(x))
print(id(y))

True
140704506082504
140704506082824

In [21]:
# Membership Opreator in python 
list = [1,2,3,4,5]
print( 1 in list)
print(10 in list)
print(10 not in list)

True
False
True

In [24]:
print(3**2+ (6+6)**(1+1))

153

In [23]:
reg_user = ["rushi", "prashant", "Aniket ", "Mahesh"]
name = input("Enter your name: ")

if name in reg_user:
    print("Access granted. Welcome bro")
else:
    print("Access denied. you are not registered")

Access granted. Welcome bro

In [ ]:
# python datatype
#Mutable Datatype  :   ADD / Modify / Delete 
# 1) Lists
# 2) Dictionary
# 3) Sets

# Immutable Datatype:    No chnage 
# 1) Number
# 2 ) Strings 
# 3 Tuples

In [29]:
# string in python
first_string = 'Hello, World!'
#print(first_string)
len(first_string)
#first_string[1]
#first_string[1] = 'o'
#first_string[1:4]

13

In [33]:
list1 = [1,2,3]
list1[1] = 100
print(list1)

[1, 100, 3]

In [34]:
string1 = 'Rushi'
string2 = str(45)
string3 = string1+ string2
print(string3)

Rushi45

In [35]:
first = 'rushi'
last = 'patil'
age = 19
print(f'my first name is {first} & last name is {last} & age is {age}')

my first name is rushi & last name is patil & age is 19

In [37]:
first = 'rushi'
last = 'patil'
age = 19
newone = 'my first name is{} & last name is {} & age is {}'.format(first,last , age)
print(newone)

my first name isrushi & last name is patil & age is 19

In [ ]:
# slicing in python string    [start:stop:step ]
string1 = "Gate Smashers"
substr1 = string1[5:10]
print(substr1)
substr2 = string1[:10]
print(substr2)
substr3 = string1[5:]
print(substr3)
substr4 = string1[:]
print(substr4)
substr5 = string1[-8:-3]
print(substr5)
substr6 = string1[5::2]
print(substr6)
substr7 = string1[::-1]
print(substr7)
substr8 = string1[5:12].upper()
print(substr8)

Smash
Gate Smash
Smashers
Gate Smashers
Smash
Sahr
srehsamS etaG
SMASHER

In [55]:
# list in python
# list 1 is an exmaple of mixed data types
list1 = [20, 20.5,'hello']
list1[2]= 'rushi'
print(list1)
# list 2 is an example of Nested list 
list2 = [['rushi', 2006],['prashant', 2005]]
print(list2)

[20, 20.5, 'rushi']
[['rushi', 2006], ['prashant', 2005]]

In [56]:
# List operations
# 1) Concatenation
  # list1 is a list of the first five odd integers
list1 = [1,3,5,7,9]
  # list2 is a list of the first five even integers
list2 = [2,4,6,8,10]
list1 + list2

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [58]:
# 2 Repetition
list1 = ['Hello']
list1*5

['Hello', 'Hello', 'Hello', 'Hello', 'Hello']

In [ ]:
# 3 Membership
list1 = ['rushi','prashant','amit']
'rushi' in list1
'nitin'in list1

False

In [65]:
# 4 Slicing 
list1 = ['Rushi','Patil','chetan','Sagar','Rahul','prashu']
list1[0:4]

['Rushi', 'Patil', 'chetan', 'Sagar']

In [ ]:
# list function in python
# len()
list1 = [10,20,30,40,50]
len(list1)

5

In [6]:

# list()
list1 = list()
list1
str1 = 'aeiou'
list1 = list(str1)
list1

['a', 'e', 'i', 'o', 'u']

In [9]:
# append()
list1 = [10,20,30,40]
list1.append(50)
print(list1)
list2 = [10,20,30,40]
list2.append([50,60])
print(list2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, [50, 60]]

In [10]:
# extend()
list1 = [10,20,30]
list2 = [40,50]
list1.extend(list2)
print(list1)

[10, 20, 30, 40, 50]

In [14]:
# insert()
list1 = [10,20,30,40,50]
list1.insert(2,25)
list1
list1.insert(0,5)
list1

[5, 10, 20, 25, 30, 40, 50]

In [18]:
# count()
list1 = [10,20,30,10,40,10]
list1.count(10)
list1.count(90)

0

In [19]:
# index()
list1 = [10,20,30,20,40,10]
list1.index(20)

1

In [21]:
# remove()
list1 = [10,20,30,40,50,30]
list1.remove(30)
list1

[10, 20, 40, 50, 30]

In [26]:
# pop()
list1 = [10,20,30,40,50,60]
list1.pop(3)
list1
list1 = [10,20,30,40,50,60]
list1.pop() 
list2

[10, 20, 30, 40, 50, 60]

In [28]:
# reverse()
list1 = [34,66,12,89,28,28,99]
list1.reverse()
print(list1)
list2 = ['Dog','Cat','Fox']
list2.reverse()
print(list2)

[99, 28, 28, 89, 12, 66, 34]
['Fox', 'Cat', 'Dog']

In [31]:
# sort()
list1 = ['Tiger','Zebra','Lion','Cat','Elephant','Dog']
list1.sort()
print(list1)
list1 = [34,66,12,89,28,99]
list1.sort(reverse=True)
print(list1)

['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger', 'Zebra']
[99, 89, 66, 34, 28, 12]

In [33]:
# Sorted
list1 = [23,45,11,67,85,56]
list2 = sorted(list1)
print(list1)
print(list2)

[23, 45, 11, 67, 85, 56]
[11, 23, 45, 56, 67, 85]

In [35]:
# min()
list1 = [34,12,63,39,92,44]
min(list1)
# max()
list1 = [34,12,63,39,92,44]
max(list1)
# sum()
list1 = [34,12,63,39,92,44]
sum(list1)

284

In [37]:
# dictionary 
dict1 = {1: 'rushi', 2: 'patil',3:'nitin'}
print(dict1)
print(dict1.get(2))

{1: 'rushi', 2: 'patil', 3: 'nitin'}
patil

In [ ]:
# In Python , there are four forms of the if ... else statement.
# if statement
# if .... else statement
# if ... elif ....else statement
# nested if

In [39]:
  # if statement 
age =  int(input("Enter your age"))
if age > 18:
    print("You can apply for license")
print("Speed thrills but Kills")

You can apply for license
Speed thrills but Kills

In [41]:
#hello 
print('rushi')

rushi

In [ ]:
# if else statement 
age = int(input("Enter your age"))
if age > 18:
    print("Apply for the license")
else:
    print("Itni jaldi bhi kya hai ")
    #ok

Itni jaldi bhi kya hai

In [ ]:
# If Else statement:

if True:
    print("I am True")
    
if False:
    ptint("I am False")

I am True

In [3]:
'''
Logic:
if <Condition>:
    print("Output1")
else:
    print("Output2")
    
    
'''
num = 100

if num >= 100:
    print('The Number is satisfy Criteria')
else:
    print('Not satisfy the Criteria')

The Number is satisfy Criteria

In [4]:
# Guessing the Number Game 
'''
Logic:
step1: Enter the Number
step2: Write Logic Code To guess the Correct Number
step3: Output


'''


number = float(input('Enter the Number Betweeen 1 to 3:'))

if number == 1:
    print('The Number is 1')
    
if number == 2:
        print('The Number is 2')
        
if number == 3:
        print('The Number is 3')

ValueError: could not convert string to float: 'uku'

In [ ]:
number = float(input())
if number > 2:
    print('The Enter Number is Higher Value')
if number < 2:
    print('The Enter Number is Lower Value')
else:
    print('The number is 2')

In [ ]:
if True:
    if True:
        if True:
            print('Very Good')

In [ ]:
# Example: To Check whether the given string is palindrom or Not 

'''
step1: Ask user to enter the string 
step2: reverse the string 
step3: use if else logic to print the output
'''






text1 = input('Enter the string: ')   # Assingment Operator
text2 = text1[::-1]

if text1 == text2:         # This is Comparison Operator
    print('The given String is palindrom')
else:
    print('not a palindrom')

In [ ]:
# Simple program using only multiple if statements

score = int(input("Enter your score (out of 100): "))

if score >= 90:
    print("Excellent")

if score >= 75 and score < 90:
    print("Good")

if score < 75:
    print("Satisfied")

In [ ]:
# Program using only multiple if statements

score = int(input("Enter your score (out of 100): "))

if score >= 90:
    print("Excellent")

if score >= 75 and score < 90:
    print("Good")

if score < 75:
    print("Satisfied")

In [ ]:
#Example : Write a Program to Print Volume of Cylinder
'''  
Volume = Area * Height
step1: Ask user to enter the Diameter of Cylinder
step2: Ask user to enter the Height of Cylinder
step3: Volume = Area * Height
step4: print the desired output
'''
PI = 3.1421
Diameter= float(input("Enter the Diameter of Cylinder:"))
Height= float(input("Enter the Height of Cylinder:"))

Volume =(PI/4)*(Diameter**2)* Height

print(f'The Volume of Cylinder is {Volume}  mm^3')

The Volume of Cylinder is 42.418350000000004  mm^3

In [ ]:
Marks = float(input("Enter the Marks:"))
if Marks>=90:
    print('Excellent')
elif Marks < 90 and Marks > 60:
    print("Bright")
else:
    print("Average")

Bright

In [ ]:
#for loop
#range(start,stop,step)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10):
    print(i,end=' '
)

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
for i in range(0,10):
    print(1)
    if i == 6:
     break

1
1
1
1
1
1
1

In [ ]:
for i in range(0,10):
    print(1)
    if i == 6:
     continue

1
1
1
1
1
1
1
1
1
1

In [ ]:
for i in range(0,10):
    print(1)
    if i == 6:
        pass

1
1
1
1
1
1
1
1
1
1

In [ ]:
#Example
#Palindrom function definition
def Palindrom():
    text1 = input('Enter the string:')
    text2 = text1[::-1]
    if text1 == text2:
       print("The given string is a Palindrome") 
    else :
        print("The given is not a Palindrom")
       
    Palindrom() #Function Calling

In [ ]:
# Example

def Compute(num1,num2):
    num3 = num1 + num2  
    return num3 

ans = Compute(100,200) # Function Calling

print(f'The Answer is {ans}')

The Answer is 300

In [ ]:
# Installing python and setting up enviroment. Simple statements like printing the names ("Hello World") numbers, mathematical calculations, etc.
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)
print("hello world")
print("my name is rushikesh patil")
print("my class is TYBSC(COMP)")

30
-10
200
0.5
10
0
100000000000000000000
hello world
my name is rushikesh patil
my class is TYBSC(COMP)

In [ ]:
# write a program to find all prime numbers within a given range.
start = int(input("Enter start:"))
end = int(input("Enter end:"))
print("prime numbers are:")
for num in range(start, end +1):
    if num>1:
        for i in range(2,num):
            if num % i==0:
                break
            else:
                print(num)

prime numbers are:
3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13

In [ ]:
# write a program to print "n" terms of Fibonacci Series using Iteration
n = int(input("Enter number of terms:"))
a,b = 0,1 # first two terms
print("Fibonacci Series:")
for i in range(n):
    print(a, end="")
    a,b = b,a+b # update values

Fibonacci Series:
0112358132134558914423337761098715972584418167651094617711286574636875025121393196418317811514229832040134626921783093524578570288792274651493035224157817390881696324598610233415516558014126791429643349443770140873311349031701836311903297121507348075269767778742049125862690252036501107432951280099533162911738626757127213958386244522585143371736543529616259128672987995672202604115480087559202504730781961405273953788165574703198421061020985772317167680177565277778900352884494557021285372723460248141117669030460994190392490709135308061521170129498454011879264806515533049393130496954492865721114850779780503416454622906707552793970088475789443943237914641447233402467622123416728348467685378890623731439066130579072161159199194853094755497160500643816367088259695496911122585420196140727489673679891637638612258110008777836610193117799794160047141892880067194370816120466004661037553030975401138047463464291220016041512187673819740274219868223167319404346349900999055168070885485832307283621143489848422977135301852344706746049218922995834555169026

In [ ]:
# Program related to string manipulation
text = "hello, python programming!"
# convert to uppercase
print("Uppercase:", text.upper())
#convert to lowercase
print("Lowercase:", text.lower())
#replace a substring
print("Replace 'python' with 'Java:'",text.replace("Python","java"))
#find a substring
print("index of 'programming':", text.find("Programming"))
#split the string
print("split by space:", text.split())
#Strip whitespace(not needed here, but for demonstration)
whitespace_text = "Hello, World!"

Uppercase: HELLO, PYTHON PROGRAMMING!
Lowercase: hello, python programming!
Replace 'python' with 'Java:' hello, python programming!
index of 'programming': -1
split by space: ['hello,', 'python', 'programming!']

In [ ]:
#Write a program that demonstrate concept of functional programming
from functools import reduce
#1.Using lambda(anonymous function)
square = lambda x: x* x
print("square of 5:", square(5))
#2. map() applies fuction to each element
numbers = [1,2,3,4,5]
squares= list(map(lambda x:x*x, numbers))
print("Squares:", squares)
#3. filter() filters elements based on condition
evens = list(filter(lambda x:x %2==0, numbers))
print("Even numbers:", evens)
#4. reduce() reduces list to single value
sum_of_numbers = reduce(lambda a, b: a+b, numbers)
print("Sum of numbers:",sum_of_numbers)
#5. Higher-order function (function arguments)
def apply_function(func, values):
    return [func(x) for x in values]
result = apply_function(lambda x: x*3, numbers)
print("Triple each numbe:",result)

square of 5: 25
Squares: [1, 4, 9, 16, 25]
Even numbers: [2, 4]
Sum of numbers: 15
Triple each numbe: [3, 6, 9, 12, 15]

In [ ]:
# write a program to demonstrate the use of list &  realated fuctions.
#creating list
fruits = ["apple", "banana", "cherry"]
print("Orignal list:",fruits)
#Accesing elements
print("first element:", fruits[0])
print("last element:", fruits[-1])
#adding elements
fruits.append("orange")    #at the end 
print("After append:", fruits)
#Removing elements
fruits.remove ("banana") # remove by value
print("after remove:",fruits)
popped= fruits.pop() # remove last element
print("popped element:",popped)
print("after pop:", fruits)
#List fuctions
print("Length of list:", len(fruits))
print("Sorted list:",sorted(fruits))
print("Reversed list:", list(reversed(fruits)))
print("index of'apple':",fruits.index("apple"))
#slicing
print("First two elements:", fruits[:2])
print("Last two elements:", fruits[-2:])
#Copying list
copy_list = fruits.copy()
print("Copied list:", copy_list)
# Clearing lsit
fruits.clear()
print("After clear:", fruits)

Orignal list: ['apple', 'banana', 'cherry']
first element: apple
last element: cherry
After append: ['apple', 'banana', 'cherry', 'orange']
after remove: ['apple', 'cherry', 'orange']
popped element: orange
after pop: ['apple', 'cherry']
Length of list: 2
Sorted list: ['apple', 'cherry']
Reversed list: ['cherry', 'apple']
index of'apple': 0
First two elements: ['apple', 'cherry']
Last two elements: ['apple', 'cherry']
Copied list: ['apple', 'cherry']
After clear: []

In [ ]:
#write a program to demonstrate the use of list & related functions
#creating a dictionary
student = {"name": "python","age":30,"course":"Computer Science"}
print("Orignal Dictonary:", student)
#Accessing elements
print("Name:", student["name"])
print("Age:", student["name"])
print("Age:",student.get("age"))
#adding/updating elements
student["grade"]="A"  # Add new key-value pair
student["age"] = 21   # update existing key
print("After adding/updating:", student)
#Removing elements
student.pop("course")  #remove by key
print("after pop:",student)
removed_item = student.popitem() # remove last inserted item
print("Removed item:", removed_item)
print("After popitem:",student)
#Dictionary fuctions
print("Keys:", student.keys())
print("values:",student.values())
print("items:", student.items())
#copying dictionary 
copy_student = student.copy()
print("copied dictionary:", copy_student)

Orignal Dictonary: {'name': 'python', 'age': 30, 'course': 'Computer Science'}
Name: python
Age: python
Age: 30
After adding/updating: {'name': 'python', 'age': 21, 'course': 'Computer Science', 'grade': 'A'}
after pop: {'name': 'python', 'age': 21, 'grade': 'A'}
Removed item: ('grade', 'A')
After popitem: {'name': 'python', 'age': 21}
Keys: dict_keys(['name', 'age'])
values: dict_values(['python', 21])
items: dict_items([('name', 'python'), ('age', 21)])
copied dictionary: {'name': 'python', 'age': 21}

In [ ]:
# write a program demonstrate use of tuple
# Creating a tuple
fruits = ("apple","banana", "cherry","banana")
print("Orignal Tuple:", fruits)
#Accessing elements
print("First element:", fruits[0])
print("Last element:", fruits[-1])
print("slicing(1 to 3):", fruits[1:3])
#tuple opreations
print("Length of tuple:", len(fruits))
print("count of 'banana':", fruits.count("banana"))
print("Index of 'cherry':",fruits.index("cherry"))
# tuple concatenation
t1= (1,2,3)
t2=(4,5)
t3= t1+t2
print("Repeated tuple:", t2*3)
#checking membership
if "apple" in fruits:
    print("'apple' is in tuple")
    #converting tuple to list (to modify)
    fruit_list = list(fruits)
    fruit_list = list(fruits)
    fruit_list.append("orange")
    print("Modified list:", fruit_list)

Orignal Tuple: ('apple', 'banana', 'cherry', 'banana')
First element: apple
Last element: banana
slicing(1 to 3): ('banana', 'cherry')
Length of tuple: 4
count of 'banana': 2
Index of 'cherry': 2
Repeated tuple: (4, 5, 4, 5, 4, 5)
'apple' is in tuple
Modified list: ['apple', 'banana', 'cherry', 'banana', 'orange']

In [ ]:

# fibbonaci series : 0 1 1 2 3 5 8 13.....
# factorial series : 4! = 4*3*2*1= 24
def factorial(n):
    if n==0 or n==1:
        return 1 
    else:
        return n * factorial(n-1)
number = float(input("Enter the number:"))   
factorial(number)

24.0

In [ ]:
#fibbonaci series :
n= int(input("enter the number of terms:"))
a,b = 0,1 # first two terms
print("Fibonacci Series:")
for i in range(n):
    print(a, end="")
    a,b = b,a+b # update values

Fibonacci Series:
0112358132134558914423337761098715972584418167651094617711286574636875025121393196418317811514229832040134626921783093524578570288792274651493035224157817390881696324598610233415516558014126791429643349443770140873311349031701836311903297121507348075269767778742049125862690252036501107432951280099533162911738626757127213958386244522585143371736543529616259128672987995672202604115480087559202504730781961405273953788165574703198421061020985772317167680177565277778900352884494557021285372723460248141117669030460994190392490709135308061521170129498454011879264806515533049393130496954492865721114850779780503416454622906707552793970088475789443943237914641447233402467622123416728348467685378890623731439066130579072161159199194853094755497160500643816367088259695496911122585420196140727489673679891637638612258110008777836610193117799794160047141892880067194370816120466004661037553030975401138047463464291220016041512187673819740274219868223167319404346349900999055168070885485832307283621143489848422977135301852344706746049218922995834555169026

In [ ]:
# Concept of Indexing and Slicing

str = 'Hello welcome to the world of python programming.'

'''
Note:
string indexing : string[start:stop:step]
'''
print(str[1:20:1])
print(str[0:25:2])
print(str[-1:-9:-1])
str = 'Rushikesh'
print(str[::-1])

ello welcome to the
Hlowloet h ol
.gnimmar
hsekihsuR

In [ ]:
# Data Structure of Python programming
'''
1. List
2. Tuple
3. Dictionary
4. Sets
'''
# List

a = [1,2,3,100.2000,3.1421, 3+4j,'Hello World',True,[1,2,3]]
a.append(100)
print(a)
a.insert(0,0)
print(a)

[1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]
[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3], 100]

In [ ]:
a.pop()
print(a)

[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3]]

In [ ]:
a.remove(0)
print(a)

[1, 2, 3, 100.2, 3.1421, (3+4j), 'Hello World', True, [1, 2, 3]]

In [ ]:
'''
Any Function to defined inside a class called as Method
Example: In a list a = [100,200,300]
a.append(400)
here, append() is fuction, but this function is defined inside a class list so it is called Method


'''




print(a.count(1))
print(type(a))

2
<class 'list'>

In [ ]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [ ]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [ ]:
str = 'INDIA IS A Great Country'
print(str[3:-2:2])
str = 'America Nice'
print(str[-9:-1:])

I SAGetCut
rica Nic

In [5]:
class first:
    x=50
obj = first()
print(obj.x)

50

In [7]:
class faculty:
    def putdata(self):   #method 1
        self.id = int(input("enter faculty id"))
        self.name = input("enter name")
        self.salary = float(input("Enter the salary"))
    def display(self):
        print("faculty id:", self.id)
        print("faculty name:", self.name)
        print("faculty salary", self.salary)
        
a = faculty()
a. putdata()
a.display()

faculty id: 2
faculty name: dadu
faculty salary 50000.0

In [10]:
class Student:
    def __init__(self,my_roll,my_name,my_marks):
        self.rollno = my_roll
        self.name = my_name
        self.marks = my_marks
    def average(self):
        return sum(self.marks)/len(self.marks)
    
first_student = Student(1,'Rushi',[50,60,70,80,90])
print(first_student.name)
print(first_student.average())

Rushi
70.0

In [ ]:
class employee:
    def putdata(self):     # method 1
        self.id= int(input("enter employee id"))
        self.name = input("enter employee name")
    
        self.salary= float(input("enter employee salary"))
    def display(self):    # method 2 
        print("employee id:",self.id)
        print("employee name:",self.name)
        print("employee salary",self.salary)
a=employee()
a.putdata()
a.display()

employee id: 1
employee name: rahul
employee salary 25000.0

In [ ]:
class Employee:    # class Definition
    pass




emp1 = Employee()     # Object Definition
emp2 = Employee()     # Object Definition

In [ ]:
print(type(emp1))

<class '__main__.Employee'>

In [ ]:
class Employee:   # class Definition
    
    # Define Attributes  : # class variable
    Company_Name = "It Vedant"
    Company_Est = "1900"
    
    # Define Constructor
    def __init__(self,Name,Age,Position):
        self.Name = Name       #instant variable
        self.Age = Age
        self.Position = Position

emp1 = Employee ("Gaurav",25,"IT")     # Object Definition
emp2 = Employee ("Rushikesh",19,"Finance")     #Object Definition

print(emp1.Company_Name)   # Calling attribute Company_Name by an Object emp1 by using . Operator
print(emp2.Company_Est)
print(emp1.Name)
print(emp1.Position)
print(emp1.Age)
print(emp2.Name)
print(emp2.Age)
print(emp2.Position)

It Vedant
1900
Gaurav
IT
25
Rushikesh
19
Finance

In [ ]:
class Employee:
    # Define Attributes:  # class Variables
    Company_Name = "It Vedant"
    Company_Est = "1900"

    # Define Instance Method : with Instance Variables
    def __init__(self, name, age, position):
        self.name = name
        self.age = age
        self.position = position

    def details(self):
        print(f'Name: {self.name}')

    def age1(self):
        print(f'Age: {self.age}')


# Create Two Objects: employee and manager
employee = Employee("Sangam", 30, "IT")
manager = Employee("Rushikesh", 19, "Manager")

employee.details()
manager.details()
employee.age1()

Name: Sangam
Name: Rushikesh
Age: 30

In [ ]:
class Employee:
    Company_Name = "It Vedant"
    Company_Est = "1900"
    def __init__(self, name, age , position):
        self.name = name
        self.age = age
        self.position = position
    def details(self):
     print(f'Name: {self.name}')
    def age1(self):
        print(f'Age:  {self.age}')   

employee = Employee ("Sangam", 30, "IT")
manager = Employee("Rushikesh", 19,"Manager")

employee.details()
manager.details()
employee.age1()
#ok

Name: Sangam
Name: Rushikesh
Age:  30

In [ ]:
# Inheritance 

class Employee:   #parent class
     #Define  Special Function: Constructor
     def __init__(self,name,age,position):
         #Define Instance Variables 
         self.name = name
         self.age = age
         self.position = position
    #Define Class Method : details
     def details(self):
         print(f'name: {self.name}')
class Manager(Employee):  #child Class
    
    #Define special Function : Constructor
     def __init__(self,name,age,position,department):
        super().__init__(name,age,position) # Calling Instance and Methods using super()
        self.department = department
        
        # Define Class method : Department details
     def department_details(self):
            print(f'name:{self.name}')
            print(f'department:{self.department}')

# Define Objects:

m1 = Employee("Tathagat",29,"HR")
m2 = Manager("Pragya",26,"Senior Team Lead","HR")
print(m1.name)
print(m1.details())
print(m2.department_details())
print(m2.name)

Tathagat
name: Tathagat
None
name:Pragya
department:HR
None
Pragya

In [ ]:
class Car:  #Parent Class
    # Define Constructor
    def __init__(self,enginetype,color,wheels):
        self.wheels = wheels
        self.color = color
        self.enginetype = enginetype
    
    #Class Function : Method
    def mileage(self):
        self.mileage = 30
        print(self.mileage)
BMW = Car("Petrol","Maroon","4")

class PetrolCar(Car):
    def __init__(self,enginetype,wheels,color):
        super().__init__(self,enginetype,wheels,color)
        self.enginetype = "Petrol"
        self.wheels = "4"
        self.color = "Red"
        
    def Sound(self):
        print('Peeeeeeeeep')
              

class DieselCar(Car):
    def __init__(self,enginetype,wheels,color):
        super().__init__(self,enginetype,wheels,color)
        self.enginetype = "Diesel"
        self.wheels = "4"
        self.color = "White"
        
    def Sound(self):
        print('Poooomp')

class EVCar(Car):
    def __init__(self,enginetype,wheels,color):
        super().__init__(self,enginetype,wheels,color)
        self.enginetype = "EV"
        self.wheels = "4"
        self.color = "Blue"
        
    def Sound(self):
        print('no sound')

In [ ]:
class Car:  # Parent Class
    # Define Constructor
    def __init__(self, enginetype, color, wheels):
        self.enginetype = enginetype
        self.color = color
        self.wheels = wheels

    # Class Function : Method
    def mileage(self):
        self.mileage_value = 30
        print("Mileage:", self.mileage_value)


# Parent class object
BMW = Car("Petrol", "Maroon", "4")
BMW.mileage()

# Child Class 1
class PetrolCar(Car):
    def __init__(self):
        super().__init__("Petrol", "Red", "4")

    def Sound(self):
        print("Peeeeeeeeep")


# Child Class 2
class DieselCar(Car):
    def __init__(self):
        super().__init__("Diesel", "White", "4")

    def Sound(self):
        print("Poooomp")


# Child Class 3
class EVCar(Car):
    def __init__(self):
        super().__init__("EV", "Blue", "4")

    def Sound(self):
        print("No Sound")


# Create objects of child classes
p = PetrolCar()
d = DieselCar()
e = EVCar()

# Display their details
print("\nPetrol Car:", p.enginetype, p.color, p.wheels)
p.Sound()

print("\nDiesel Car:", d.enginetype, d.color, d.wheels)
d.Sound()

print("\nEV Car:", e.enginetype, e.color, e.wheels)
e.Sound()

Mileage: 30

Petrol Car: Petrol Red 4
Peeeeeeeeep

Diesel Car: Diesel White 4
Poooomp

EV Car: EV Blue 4
No Sound

In [ ]:
'''
class Bank:
    # class variables :
    1. Balance_amount = 100000
    2. Credited_Amount 
    3. Withdraw_Amount
    
    #Different Account types
    1. NRI Account
    2. Saving Account
    3. Current Account
    
    #Objects:
    1. Vaibhav : NRI Acc
    2. Sangam : Saving Acc
    3. Gaurav : Current  Acc
    
 '''   
class Bank:
       # class variable (common for all)
    bank_balance = 100000

    def __init__(self, name, account_type):
        self.name = name
        self.account_type = account_type
        self.balance = 0  # individual account balance

    # deposit method
    def deposit(self, amount):
        self.balance += amount
        Bank.bank_balance += amount
        print(f"₹{amount} credited to {self.name}'s account. Current balance: ₹{self.balance}")

    # withdraw method
    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            Bank.bank_balance -= amount
            print(f"₹{amount} withdrawn from {self.name}'s account. Remaining balance: ₹{self.balance}")
        else:
            print("Insufficient balance!")

    # display method
    def display_details(self):
        print("\n--- Account Details ---")
        print(f"Name: {self.name}")
        print(f"Account Type: {self.account_type}")
        print(f"Balance: ₹{self.balance}")


# --- Objects for accounts ---
Vaibhav = Bank("Vaibhav", "NRI Account")
sangam = Bank("Sangam", "Saving Account")
gaurav = Bank("Gaurav", "Current Account")

# --- User input to add money in Vaibhav's account ---
print("Enter amount to deposit in Vaibhav's NRI Account:")
amount = float(input(" Enter the Amount: "))  # for example, enter 5000
Vaibhav.deposit(amount)

# Display updated details
Vaibhav.display_details()

Enter amount to deposit in Vaibhav's NRI Account:
₹10000.0 credited to Vaibhav's account. Current balance: ₹10000.0

--- Account Details ---
Name: Vaibhav
Account Type: NRI Account
Balance: ₹10000.0

In [4]:
# parent class 
class Bank:
    def __init__(self, account_holder, balance=0):   #constructor
        
        self.account_holder = account_holder   #insatance variable 1
        self.balance = balance                 #Insatance variable 2
    def show_balance(self):         #  class method
        
        print(f"Account Holder: {self.account_holder}")
        print(f"Current Balance: {self.balance}\n")
# Child class: CurrentAccount

class CurrentAccount(Bank):
    def withdraw_amount(self,amount):              # Child class method
        
        if amount <= self.balance:
            self.balance -= amount
            print(f"{amount} withdrawn successfully from Current Account.")
        else:
            print("Insufficient balance.") 
    def credit_amount(self, amount):
        self.balance += amount
        print(f"{amount} credited successfully to Current Account.")
        
    # child class: SavingAccount
class SavingAccount(Bank):
    def withdrawn_amount(self, amount):
        
        if amount <= self.balance:
            self.balance -= amount
            print(f"{amount} withdrawn successfully from Saving Account.")
        else:
            print("Insufficient balance.")
    def credit_amount(self, amount):
        self.balance += amount
        print(f"{amount} credited successfully to Saving Account.")
 
 # Example Usage 
 
ca = CurrentAccount("Rushikesh patil", 5000)
ca.show_balance()
ca.withdraw_amount(1500)
ca.credit_amount(2000)
ca.show_balance()
                
sa = SavingAccount("Sneha Patil", 8000) 
sa.show_balance()
sa.withdrawn_amount(3000)
sa.credit_amount(1000)
sa.show_balance()

Account Holder: Rushikesh patil
Current Balance: 5000

1500 withdrawn successfully from Current Account.
2000 credited successfully to Current Account.
Account Holder: Rushikesh patil
Current Balance: 5500

Account Holder: Sneha Patil
Current Balance: 8000

3000 withdrawn successfully from Saving Account.
1000 credited successfully to Saving Account.
Account Holder: Sneha Patil
Current Balance: 6000

In [3]:
'''
class ITV:
    constructor:
    name
    student_id
    course
    duration
    experience

class student(ITV)
    details
class Trainer(ITV)

Define :

       2 students object 
       2 tariner object
    

'''
class ITV:
    def __init__(self,name,student_id, cousre, duration, experience):
        self.name = name
        self.student_id = student_id
        self.course = cousre
        self.duration = duration
        self.experience = experience
    # Deived class Student:
class Student(ITV):
    def details(self):
        return  f" Student : {self.name}, ID: {self.student_id}, Course: {self.course}, Duration: {self.duration}, Experience: {self.experience}"
    # Derived class Trainer
class Trainer(ITV):
    def details(self):
        return f"Trainer: {self.name}, ID: {self.student_id}, Course: {self.course}, Duration: {self.duration}, Experience: {self.experience}"

# Creating 2 student objects

student1 = Student("Rushikesh Patil", "S101", "Data Analysis", "1 year", "Beginner")
student2 = Student("Swapnil Patil", "S101", "Data Analysis", "1 year", "Beginner")

# Creating 2 Trainer Objects
trainer1 = Trainer("Rajesh Sharma", "T201", "AI Fundamentals", "6 months", "5 years")
trainer2 = Trainer("Meena Joshi", "T202", "Data Visualization", "4 months", "3 years")

print(student1.details())
print(student2.details())
print(trainer1.details())
print(trainer2.details())

 Student : Rushikesh Patil, ID: S101, Course: Data Analysis, Duration: 1 year, Experience: Beginner
 Student : Swapnil Patil, ID: S101, Course: Data Analysis, Duration: 1 year, Experience: Beginner
Trainer: Rajesh Sharma, ID: T201, Course: AI Fundamentals, Duration: 6 months, Experience: 5 years
Trainer: Meena Joshi, ID: T202, Course: Data Visualization, Duration: 4 months, Experience: 3 years

In [2]:
class Dog:
    tricks = []      # ❌ class variable (shared by all objects)
    
    def __init__(self, name):
        self.name = name

    def add_trick(self, trick):
        self.tricks.append(trick)
    
d = Dog('Fido')
e = Dog('Buddy')
d.add_trick('roll over')
e.add_trick('play dead')
print(d.tricks)

['roll over', 'play dead']

In [9]:
class Dog:
    
    def __init__(self,name):
        self.name = name
        self.tricks = []
    
    def add_trick(self, trick):
        self.tricks.append(trick)
        
    d = Dog('Fido')
    e = Dog('Buddy')
    d.add_trick('roll over')
    e.add_trick('play dead')
    print(d.tricks)
    print(e.tricks)

['roll over']
['play dead']

In [10]:
# list Comprehension

lst = []

for i in range(10):
   lst.append(i*i)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
'''logic: [<Expression> for interator(i) in range(10)]

'''

print([i*i for i in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# [0,2,4,6,8,10,.....]

lst = []

for i in range(12):
    if i%2 ==0:
      lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10]

In [21]:
#  example of list Comprehension

# syntax: [<expression> for i in range(12) <condition>]

[i for i in range (12) if i%2 ==0]

[0, 2, 4, 6, 8, 10]

In [ ]:
# Baic Inheritance

class parent:
    def greet(self):
        print("Hello from Parent!")
class Child(parent):
    pass
c = Child()
c.greet()

Hello from Parent!

In [ ]:
# Method Overriding
class Animal:
    def sound(self):
        print("Animal sound")
class Cat(Animal):
    def sound(self):
        print("Meow")
c = Cat()
c.sound()

Meow

In [ ]:
# using super() to call Parent Method
class Person:
    def greet(self):
        print("Hello!")
class Student(Person):
    def greet(self):
        super().greet()
        print("Welcome to class!")
s = Student()
s.greet()

Hello!
Welcome to class!

In [ ]:
# Constructor Inheritance with super()
class Vehicle:
    def __init__(self,brand):
        self.brand = brand
class Car(Vehicle):
    def __init__(self, brand, model):
        super() . __init__(brand)
        self.model = model
c = Car("Toyota", "Camry")
print(c.brand, c.model)

Toyota Camry

In [ ]:
# Multiple Inheritance
class Father:
    def skills(self):
        print("Gardening, Programming")
class Mother:
    def skills(self):
        print("Cooking, Art")
class Child(Father, Mother):
    pass 
c = Child()
c.skills()

Gardening, Programming

In [ ]:
# Multilevel Inheritance
class Grandparent:
    def legacy(self):
        print("Wisdom")
class Parent(Grandparent):
    pass
class Child(Parent):
    pass
c = Child()
c.legacy()

Wisdom

In [ ]:
# Hierarchical Inheritance
class Animal:
    def move(self):
        print("Moves")

class Dog(Animal):
    pass
class Bird(Animal):
    def fly(self):
        print("Files")

d = Dog()
b = Bird()
d.move()
b.move()
b.fly()

Moves
Moves
Files

In [5]:
#object oriented programming

class Employee:   # class Definition 
    pass

emp1 = Employee()    # Object Definition
emp2 = Employee()    # Object Definition

print(type(emp1))

<class '__main__.Employee'>

In [8]:
class Employee:  # class definition
    # define Attributes : # class Variables
    Company_Name = "Bharat Education"
    Company_Est = "2017"
    
    
    #Define Constructor: Special Method
    def __init__(self,Name,Age,Position):
        self.Name = Name   # Instance Variables
        self.Age = Age
        self.Position = Position
emp1 = Employee("Rushikesh",19,"Owner")    # Object Definition
emp2 = Employee("priya",24,"Admin")

print(emp1.Company_Name) # Calling attributes Company_Name by an Object emp1 by using .Operator
print(emp2.Company_Est)
print(emp1.Name)
print(emp1.Position)
print(emp1.Age)
print(emp2.Name)
print(emp2.Age)
print(emp2.Position)

Bharat Education
2017
Rushikesh
Owner
19
priya
24
Admin

In [21]:
class Employee:   # Class Definition
    # Define Attributes : # Class Variables
    Company_Name = "It Vedant"
    Company_Est = "1900"
    
    # Define Instance Method : With Instance Variables
    def __init__(self,name,age,position): 
        self.name = name       # Instance Variable1
        self.age = age         # Instance Variable2
        self.position = position   # Instance Variable3
        
    # Define Class Method : With Class Variables
    def details(self):
        print(f'name : {self.name}')
    def age1(self):
        print(f'Age:{self.age}')
    def position1(self):
        print(f'position : {self.position}')     
# Create Two Objects: employee and manager
employee = Employee("Sangam",30,"It")
manager = Employee("Sakshi",29,"Manager")
    
employee.details()
manager.details()
employee.age1()
manager.age1()
employee.position1()
manager.position1()

name : Sangam
name : Sakshi
Age:30
Age:29
position : It
position : Manager

In [ ]:
# Concept of Inheritance
'''
Parent class : Employee
Attributes: name,age,position
Constructor:
Class Function: details'

Child class : Manager
Attributes: Name, age, position
Constructor:
Class Function: details

'''
class Emploethoyee:    # Parent Class
    #Define Special Function: Constructor
    def __init__(self,name,age,position):
        # Define Instance Variables:
        self.ame = name
        self.age = age
        self.position = position
    # Define Class Method : details
    def details(self):
        print(f'name :{self.name}')
class Manager(Employee):  # Child class
    #define special Function: Constructor
    def __init__(self,name,age,position,department):
        super().__init__(name,age,position)  # calling instance using super()
        self.department = department
    # Define Class m

In [23]:
# in built Modules in Python Programming 

import math

a = math.ceil(5.5)
print(a)

a = math.floor(5.5)
print(a)

a = math. sqrt(25)      # this will return the answer in float
print(a)

a = 25**0.5    # ** : exponent operator
print(a)

a = math.pow(25,2)   # pow(x,y) : will return the square a value
print(a)

a = math.factorial(5)
print(a)
 
a = math.cos(0)        # cos(0) =1 
print(a)


a = math.fabs(-30)   # mod(-30) = 30
print(a)

a = math.log10(30)
print(a)

6
5
5.0
5.0
625.0
120
1.0
30.0
1.4771212547196624